*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


.headerL{grid-area: header;}
.centroL{grid-area: centro;}
.footerl{grid-area: footer;}
.grid-containerL {
    display: grid;
    grid-template-rows: 25% 70% 5%;
    grid-template-areas: 
      'header'
      'centro'
      'footer';
    width: 100%;
    height: 1000px;
    background: linear-gradient(#5698ea, #6d889a,rgb(82, 79, 79),rgb(23, 22, 22) ) ;
    
  }
  
  @keyframes fondo {
    0% {
        background-position: 0 40%;
    }
    50% {
      background-position: 0 100%;
    }
    100% {
        background-position: 0 40%;
    }
  }
  @keyframes fondo2 {
    0% {
        background-position: 0 0;
    }
    50% {
      background-position: 0 100%;
    }
    100% {
        background-position: 0 0;
    }
  
  }
  
.headerL{
    position: relative;
    width: 100%;
    height: auto;

}

.headerL > img  {
    position: absolute;

   
    top:50%;
    left:50%;
    transform: translate( -50%,-50%);
    
}
.centroL{
    position: relative;
   
    width: 100%;
    height: auto;
}

.centroL > div  {
    position: absolute;
    width: 40%;
    height:auto;
    border-radius: 20px;
    background-color: rgb(0, 0, 0,0.7);
    top:50%;
    left:50%;
    transform: translate( -50%,-50%);
    padding: 40px;
    line-height: 200%;
    color:white;
    border: 3px solid transparent;
    background: linear-gradient(to bottom,#3c5a7f, #040404, #3d7bbd ) ;
    background-size: 100%  300%;
   

    animation: fondo 8s ease-in-out infinite;
   
    transition:box-shadow 3s ease;
}

.centroL > div:hover{
    box-shadow: 1px  1px   16px   16px rgb(3, 3, 3);
   
}





.centroL label {
    margin-top: 10px;
}

.centroL > div input , .centroL > div label  {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 30px;
 
}
.centroL > div input  {
    padding: 10px;
    border: 3px solid white;
}
.centroL > div button{
    width: 50%;
    height: 40px;
    border-radius: 30px;
    padding: 5px;
    border: 3px solid white;
    
}

.centroL > div button:hover{
    background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);
    color: white;
    font-weight: 900;
}

.centroL > div input:hover{
    background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);
    color: white;
}
.centroL > div input:last-child{
    height: auto;
    font-weight: 900;
}

.footerL{
    width: 100%;
    height: auto;
    padding: 10px;
    background: linear-gradient(to bottom,#3c5a7f, #040404, #3d7bbd ) ;
    background-size: 100%  200%;
   

    animation: fondo2 8s ease-in-out infinite;
   
     
     
}
.footerL > div {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
   
     
}

.footerL > div > a{
    display: flex;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    width: 100%;
    height:30px;
    justify-content: center;
    color: white;
}

.footerL > div > a:hover{
    background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);
     
    font-weight: 900;
     
}

@media screen and (max-width:900px) {
       
    .grid-containerL{
        width: 100%;
        height:1200px;
        grid-template-rows: 25% 60% 15%;
    }
    .headerL > img   {
 
  
        width: 40%;
        height: auto;
        transition: width 1s ease-in-out;
    
    }

    .centroL > div {
        width: 70%;
        transition: width 1s ease-in-out , box-shadow 3s linear;
    }
    .footerL{
        width: 100%;
    }
    .footerL > div {
       display: block;
        width: 100%;

    }
}

@media screen and (max-width:500px) {
    
    .grid-containerL{
        width: 100%;
        height:1200px;
        grid-template-rows: 15% 70% 15%;
       
    }
   
    .headerL{
        width: 100%;
        
    }
    .headerL > img   {
 
  
        width: 60%;
        height: auto;
        transition: width 1s ease-in-out;
    
    }
    .centroL > div {
        width: 80%;
        transition: width 1s ease-in-out, box-shadow 3s linear;
    
    }
    .footerL{
        width: 100%;
    }
    .footerL > div {
       display: block;
        width: 100%;

    }
}